.app {
  font-family: sans-serif;
}

.appheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appheader-add-list-button {
}

.todo-item-container {
  /*background-color: lightgray;*/
}

.todo-item-row {
  display: flex;
  align-items: center;
  height: 1.5em;
}

.todo-item-checkbox {
  width: 50px;
}

.todo-item-list-header {
  display: flex;
  height: 1.6em;
  align-items: center;
  /*font-weight: 600;*/
  /*background-color: lightblue;*/
}

.todo-item-list-header-done {
  width: 50px;
}

.todo-list {
  /*background-color: gray;*/
}

.todo-list-title {
  font-size: 1.5em;
  text-align: left;
}

